@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 90%;
    --foreground: 0 0% 0%;
  }

  .light {
    --background: 0 100% 100%;
    --foreground: 0 0% 0%;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 91%;
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    font-family:
      'Segoe UI',
      Meiryo,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
  }
}
